body {
	font-family: "Arial", sans-serif;
}

.hero {
	background: linear-gradient(45deg, #6a5acd, #00bfff);
}

.menu-item {
	transition: transform 0.3s;
}

.menu-item:hover {
	transform: scale(1.05);
}

.btn-custom {
	background-color: #ff6347; /* Tomato color */
	color: white;
}

.btn-custom:hover {
	background-color: #e5534b;
}
